.fusion-open-submenu::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #efefef;
  margin-left: 5px;
}

.fusion-icon-bars {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-top: 3px solid #efefef;
  border-bottom: 3px solid #efefef;
  margin: 10px 0;
}

.fusion-icon-bars::before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #efefef;
  margin: 5.5px 0;
}

@media (max-width: 800px) {
  .navbar-expand-custom {
     flex-direction: column;
     align-items: center;
   }
  .navbar-expand-custom.navbar-collapse {
     display: none;
   }
  .navbar-expand-custom.navbar-toggler {
     display: block;
   }
 }
 
 @media (min-width: 801px) {
  .navbar-expand-custom {
     flex-direction: row;
     align-items: center;
   }
  .navbar-expand-custom.navbar-collapse {
     display: flex;
   }
  .navbar-expand-custom.navbar-toggler {
     display: none;
   }
 }
 
 .navbar-expand-custom.navbar-toggler {
   border: none;
   padding: 0.5rem 1rem;
   font-size: 1.25rem;
   line-height: 1;
   background-color: transparent;
   border-radius: 0.25rem;
 }
 
 .navbar-expand-custom.navbar-toggler:hover {
   background-color: #ccc;
 }
 
 .navbar-expand-custom.navbar-toggler[aria-expanded="true"] {
   background-color: #ccc;
 }


.fusion-dropdown-menu {
    position: relative;
    display: inline-block;
  }
  .fusion-menu > li{
    position: relative;
  }

  .fusion-main-menu .fusion-dropdown-menu {
    overflow: visible !important; 
  }

  .sub li{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
  }

  .sub li a{
    display: block;
    width: 100%;
  }

  .sub li:hover{
    background-color:aqua;
  }

  .fusion-dropdown-menu .sub {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #00aab7;
    width: 150px;
    padding-left: 0 !important;
    border-radius: 2px;
    margin-top: -5px !important;
    z-index: 1000;
    overflow: visible;
    border: 1px solid #006881;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .fusion-dropdown-menu:hover .sub {
    display: block !important;
  }

  nav{
    overflow: visible;
    z-index: auto;
  }