.stelo-banner{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 15px;
    padding-top: 22px;
    background-color: #111111;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    z-index: 5000;
}

.stelo-banner:hover{
    background-color: #000000;
}

.stelo-banner.closeout {
    animation: fadeOut 0.5s ease-out forwards;
}

.payment-banner {
    position: fixed;
    bottom: 120px;
    right: 20px;
    padding: 15px 15px;
    padding-top: 22px;
    background-color: #285A3A;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    z-index: 5000;
}

.payment-banner:hover {
    background-color: #243431;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateX(20px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeOut {
    from { opacity: 1; transform: translateX(0); }
    to { opacity: 0; transform: translateX(20px); }
}

.payment-banner.closeout {
    animation: fadeOut 0.5s ease-out forwards;
}

.close-btn,.close-stelo-btn{
    position: absolute;       /* Positions relative to the nearest positioned ancestor */
    top: 5px;               /* Adjust as needed */
    right: 5px;             /* Adjust as needed */
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: white;
    padding: 0 5px;
    z-index: 5001;
}

.close-btn:hover,.close-stelo-btn:hover {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .payment-banner {
        font-size: 14px;
        padding: 12px 18px;
        bottom: 90px;
        right: 10px;
    }

    .stelo-banner{
        font-size: 14px;
        padding: 12px 18px;
        bottom: 10px;
        right: 10px;
    }
}